header {
  padding: 1.2rem 0.5rem;
  grid-area: nav;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
}
.hamburger-wrapper {
  display: none;
}
.logo {
  text-align: start;
}
.header-logo {
  color: var(--primary);
  padding-bottom: 0;
  margin-bottom: 0;
}
.slogan {
  padding-top: 0;
  margin-top: 0;
}
.page-link-wrapper {
  margin: 0.8rem 1.2rem;
}
.page-link-wrapper > ul > li {
  padding: 0rem 1rem;
}
.page-link {
  color: var(--text-color);
}
.page-link:hover {
  font-weight: 700;
}
.active-item {
  color: var(--primary);
}
.badge-container {
  margin: auto 2rem auto 0rem;
}
.badge-container > i,
.badge-container > a {
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  color: var(--dark);
  opacity: 0.8;
}
.badge-container > i:hover,
.badge-container > a:hover {
  transform: scale(1.05, 1.05);
  opacity: 1;
}
.status-circle {
  background-color: var(--primary);
}

/* searchbar */

.search_input {
  width: 80%;
  padding: 1rem;
  border: none;
  background-color: var(--bg-off-white);
  color: var(--primary);
}
.search_input:focus {
  outline: none;
}
.search-close {
  padding: 1.3rem;
}
.search-active {
  display: block;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(241, 233, 233);
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .hamburger-wrapper {
    display: block;
    margin: auto 0.3rem;
    font-size: 1.5rem;
  }
  .page-link-wrapper {
    display: none;
  }
  #user-icon {
    display: none;
  }
}
