.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  flex-direction: column;
  margin: 1rem 1rem;
  
}
.tabs{
  display:flex;
  justify-content: center;
  align-items: center;
}
.tabLinks{
  padding:.7rem 1rem;
  font-size: 1.3rem;
  border-bottom: 3px solid var(--primary);
  transition: all 100ms ease-out ;
}
.active{
  background-color: var(--bg-off-white);
}
.profile-table > tr > div>th{
  border-bottom: 1px solid black;
}
.profile-table > tr > div {
  margin: 1rem 0;
}
.no-order-wrapper{
  margin-bottom: 7rem;
}
.order-wrapper > div{
  margin-right: 5rem;
}
.payment-text{
  margin-left: 8rem !important;
}
