.product_wrapper {
  min-height: 70vh;
  margin: 1rem;
  display: grid;
  grid-template-areas:
    "ImageArea detailArea"
    "ImageArea detailArea";
 
}
.image_wrapper {
  grid-area: ImageArea;
}

.image_wrapper > img {
  width: inherit;
  height: inherit;
  margin: 2rem;
}
.detail_wrapper {
  grid-area: detailArea;
  margin: 3rem;
}
.btn_wrapper {
  display: flex;
  justify-content: start;
}
.btn_product_action {
  margin: 0rem 1rem;
  padding: 0.5rem 2rem;
}
.btn_product_action:hover {
  transform: scale(1.06, 1.06);
}
.btn_product_action:disabled{
  cursor: not-allowed;
}

.features {
  padding: 1rem 0 1rem 0;
  border-top: 2px solid var(--bg-off-white);
  border-bottom: 2px solid var(--bg-off-white);
  margin: 1rem 0 01rem 0;
}
.feature > span {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.btn-cart {
  width: inherit;
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: var(--bg-off-white);
  cursor: pointer;
  border: 2px solid transparent;
}

.btn-cart:hover {
  opacity: 1;
  border: 2px solid var(--primary);
  color: var(--primary);
  transform: scale(1.03, 1.03);
}
@media only screen and (max-width: 768px) {
  .product_wrapper {
    height: fit-content;
    grid-template-areas:
      "ImageArea ImageArea"
      "detailArea detailArea";
  }
  .features {
    justify-content: center;
    align-items: center;
  }
  .image_wrapper > img {
    width: 100%;
    margin: 2rem 2rem 0 2rem;
  }
  .detail_wrapper {
    margin: 0 1rem 2rem 1rem;
  }
}
